/* nav1 css */
.nav1-container{
    background-color: var(--offWhite);
    
}
.nav1-heading {
    font-family: "Dancing Script", cursive;
  font-optical-sizing: auto;
  font-weight: 800;
  font-style: normal;
  font-size: 40px !important;
}
  



.navbar-nav .nav-link {
    color: var(--offWhite) !important;
    font-size: 18px;
    
}
.navbar-conatiner{
    /* border: 2px solid red; */
}