/* dark-green: "#00704a"
orange: "#ffbc00"
light-green: "00ac45"
offWhite: "#ffcfc"
brown : "#362415" */

:root {
  --dark-green: #00704a;
  --orange: #ffbc00;
  --light-green: #00ac45;
  --offWhite: #fffcfc;
  --brown: #362415;
}


.common-heading{
  font-size: 28px;
  font-weight: bold;

  border-bottom: 3px solid var(--light-green);
  display: inline-block;
  padding-bottom: 5px;
}

/* button */

/* Gradient Button */
.btn-gradient {
  background: linear-gradient(45deg, var(--orange), var(--light-green));
  color: white !important;
  padding: 10px 20px;
  border: none;
  border-radius: 8px;
  font-weight: bold;
  cursor: pointer;
  transition: 0.3s ease-in-out;
}

.btn-gradient:hover {
  background: linear-gradient(45deg, var(--light-green), var(--orange));
  transform: scale(1.05);
  color: var(--offWhite);
}